<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
<nav class="bg-blue-500 px-12 py-3 flex text-lg">
    <div class="flex flex-grow gap-5">
        <a href="/" class="hover:text-green-500">Home</a>
        <a href="/login" class="hover:text-green-500">Login</a>
        <a href="/signup" class="hover:text-green-500">Sign Up</a>
    </div>
    <div
            class="transition ease-in delay-75 hover:uppercase hover:font-bold hover:text-orange-500 duration-200"
    >
        <span>{{ user }}</span>
    </div>
</nav>

<div class="container mx-auto">{% block content %} {% endblock %}</div>

<footer class="justify-center bg-blue-500 px-12 py-3 flex text-lg">
    <div class="flex flex-grow">
        <a
                href="https://www.aflokkat.com/"
                class="hover:text-green-500"
                target="_blank"
        >© Copyright</a
        >
    </div>
    <nav class="flex gap-5">
        <a href="/contact" class="hover:text-green-500">Contact</a>
        <a href="/apropos" class="hover:text-green-500">A propos</a>
    </nav>
</footer>
</body>
</html>
