{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}

<h1
        class="text-white bg-blue-500 text-5xl text-center m-3 p-3 hover:text-green-500 border-r-50"
>
    Bienvenue {{current_user.nom}} !
</h1>
<h2 class="text-center m-4">Ton adresse mail est {{current_user.email}} </h2>
<p class="text-center m-4">Ton mot de passe est : {{current_user.password}}</p>
<p class="text-center m-4">Ta question secrète est : {{current_user.secret_question}}</p>
<p class="text-center m-4">Ta réponse secrète est : {{current_user.secret_response}}</p>


{% endblock %}